.container {
  /* max-height: 800px; */
  background-color: rgb(3, 159, 221);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.row {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
}

body {
  color: white;
  text-align: center;
}

img {
  width: 50%;
  background-color: white;
  border-radius: 100px;
}

.column-full {
  width: 100%;
}

.column-one-fifth {
  /* border-width: 100%; */
  width: calc(100% / 5);
}

.column-padding {
  padding: 10px;
}

.circle {
  border-radius: 100px;
}
