html {
  font-family: Avenir, sans-serif;
  font-weight: lighter;
  color: rgb(120, 120, 120);
}

img {
  width: 100%;
}

button {
  background-color: rgb(41, 68, 100);
  color: white;
  border: 1px solid rgb(41, 68, 100);
  border-radius: 3px;
  font-size: 10px;
  padding: 11px 35px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: calc(200% / 3);
}

.column-half {
  width: 50%;
}

.column-thirty-percent {
  width: 30%;
}

.column-quarter {
  width: 25%;
}

.column-tenth {
  width: 10%;
}

.tAC {
  text-align: center;
}

.justifyCSB {
  justify-content: space-between;
}

.grayletters {
  color: rgb(120, 120, 120);
}

.whitesmoke {
  background-color: whitesmoke;
}

.specialFF {
  font-family: 'Tiempos Headline', serif;
  font-style: normal;
  font-weight: normal;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
}

.lineHeight {
  line-height: 1.5rem;
}

.aIBaseline {
  align-items: baseline;
}

/* SECTION 1 CSS BELOW */

.s1HeadColor {
  color: rgb(41, 68, 100);
}

.s1BB {
  border-bottom: 0.25px solid whitesmoke;
}

.nav-margin {
  margin-left: 3.17rem;
}

.s1PLR {
  padding: 0 5px;
}

.s1ButtonP {
  padding: 6px 15px;
}

.whiteColor {
  color: white;
}

/* SECTION 2 CSS BELOW */
.s2Absolute {
  position: absolute;
  top: 10rem;
}

.overlay {
  background: linear-gradient(transparent, rgba(120, 120, 120, 0.6));
  width: 900px;
  height: 505px;
  position: absolute;
}

.s2TextMarginL {
  padding-left: 7%;
}

.s2PTB {
  padding: 3rem 0;
}

.s2FontSize {
  font-size: 13px;
}

/* SECTION 3 CSS BELOW */

.s3HeadMargin {
  margin: 5% 20% 1.5%;
}

.s3Row1PMargin {
  margin: 0% 27%;
}

.s3Row2Margin {
  margin: 5% 5% 1%;
}

.s3Row2PB {
  padding-bottom: 5%;
}

/* SECTION 4 CSS BELOW */
.s4RowMargin {
  margin: 0% 5%;
}

.s4HfontSize {
  font-size: 1.5rem;
}

.s4-button-margin {
  margin-left: 7rem;
}

.s4PFontSize {
  font-size: 0.75rem;
}

.s4PB {
  padding-bottom: 2%;
}

.s4Relate {
  position: relative;
  bottom: 7px;
}

/* SECTION 5 CSS BELOW */

.s5ContainerC {
  background-color: rgb(82, 83, 81);
  color: white;
}

.s5FontSize {
  font-size: 11px;
}

.s5PFontSize {
  font-size: 10px;
}

.s5LineHeight {
  line-height: 0.5rem;
}

.s5ContainerP {
  padding: 3% 0 5%;
}

/* SECTION 6 BELOW */

.s6Padding {
  padding: 5% 0%;
}

.s6FontWeight {
  font-weight: bold;
}

.s6Relate {
  position: relative;
  bottom: 1.5rem;
}
